{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block post %}
{% category_list publish='False' %}
    {% if messages %}
        {% for message in messages %}
            <p style="color: peru;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h1>{{post.title}}</h1>
    <h2>{{post.description}}</h2>
    <p>{{post.text}}</p>
    <hr>
    <p>Просмотров: {{post.view}}</p>
    <p>Категория: {{post.category}}</p>
    {% for tag in post.tags.all %}
#    <p>Теги: {{tag.name}}</p>
    <p>Теги: <a href="{{ tag.get_absolute_url }}">{{ tag }}</a></p>
    {% endfor %}
    <p>Дата - {{ post.created|date:"D d M Y"  }}</p>
    <hr>
    {% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    {% else %}
    <p>Что бы оставить комментарий <a href="/accounts/login/">войдите</a> на сайт или <a href="/accounts/signup/">зарегестрируйтесь</a></p>
    {% endif %}
    {% for comment in post.comment_all %}
        {% if forloop.counter|comment_padding %}
            <p style="padding: 10px; border: 1px solid blue; margin-left: 50px;">
        {% else %}
            <p style="padding: 10px; border: 1px solid red;">
        {% endif %}
            {{ comment.user }}<br>
            {{ comment.message }}<br/>
            <small>{{ comment.created }}</small>
            </p>
    {% endfor %}

{% endblock post %}